@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formControl {
  width: 50%;
}

.content {
  margin-right: 15px;
  font-family: "Montserrat", sans-serif;
  /* font-style: italic; */
  font-weight: 400;
}
