@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

@font-face {
  font-family: "MADE Tommy Soft";
  src: url("fonts/made\ tommy\ soft.otf");
}

body {
  background-color: #f4f5f5;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .image {
  width : 370px;
  margin-top: 50px;
  margin-bottom: 50px;
} */

.header {
  font-family: "MADE Tommy Soft";
  font-size: 40px;
}

@media (max-width: 957px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
